# Build output
.stack-work/
dist/
deploy/

# Cabal sandbox
.cabal-sandbox/
cabal.sandbox.config

# Editor files
.DS_Store
*.swp

# Fonts, original and processed
/fonts/generated
/fonts/original

# Generated blog output
out/

# VPS Script
vps.sh
