# Build output
.stack-work/
dist/
deploy/

# Cabal sandbox
.cabal-sandbox/
cabal.sandbox.config

# Editor files
.gitignore
.travis.yml
.DS_Store
*.swp

# Fonts, original and processed
/journal/fonts/generated
/journal/fonts/original

# Generated blog output
out/

# VPS Script
vps.sh
