siteEngine: "general"

siteLocalDir: "journal/"
siteDraftsDir: "drafts/"
sitePostsDir: "posts/"
siteImagesDir: "images/"

siteUrl: "http://prickyourfinger.org"

fileExtension: ".markdown"
newDraftFileName: "{year}-{month}-{day}-{title}{extension}"
newPostFileName: "{year}-{month}-{day}-{title}{extension}"


frontMatter: """
---
title: <title>
tags:
---


"""

referenceInsertPosition: "paragraph"
referenceIndentLength: 2

# image tag template
imageTag: "![<alt>](<src>)"

# text/line styles
textStyles:
    code: before: "`", after: "`"
    bold: before: "**", after: "**"
    italic: before: "_", after: "_"
    keystroke: before: "<kbd>", after: "</kbd>"
    strikethrough: before: "~~", after: "~~"
    codeblock: before: "```\n", after: "\n```"
    regexBefore: "```(?:[\\w- ]+)?\\n"
    regexAfter: "\\n```"
lineStyles:
    h1: before: "# "
    h2: before: "## "
    h3: before: "### "
    h4: before: "#### "
    h5: before: "##### "
    ul: before: "- ", regexBefore: "(?:-|\\*|\\d+\\.)\\s"
    ol: before: "0. ", regexBefore: "(?:-|\\*|\\d+\\.)\\s"
    task: before: "- [ ] ", regexBefore: "(?:- \\[ ]|- \\[x]|- \\[X]|-|\\*)\\s"
    taskdone: before: "- [x] ", regexBefore: "(?:- \\[ ]|- \\[x]|- \\[X]|-|\\*)\\s"
    blockquote: before: "> "
