<main>
  <article>
    <h2>$title$</h2>
    <p><strong>Posted on</strong> <time>$date$</time> &mdash; <strong>Tagged with</strong>: $prettytags$</p>

$body$

  </article>
  <hr>
  <footer>
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function () {
        this.page.url = '$host$$url$';

        this.page.identifier = '$path$';
        this.page.title = '$title$';
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//prickyourfinger.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </footer>
</main>
