<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Eiren &amp; Berkson">
    <meta name="description" content="Personal blog of Eiren &amp; Berkson">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>$title$ &dash; Prick Your Finger</title>

    <link rel="me" href="https://github.com/berkson" />
    <link rel="me" href="https://twitter.com/prickyourfinger" />
    <link rel="me" href="mailto:eiren.berkson@gmail.com" />

    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="Atom Feed" />

    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/normalize.css">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TKJ9SW" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>
    (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TKJ9SW');
  </script>
  <div class="container">
    <header>
    <h1><a href="/">Prick Your Finger</a></h1>
      <nav>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/mantra/">Mantra</a></li>
          <li><a href="/rules/">Rules</a></li>
          <li><a href="/archive/">Archive</a></li>
          <li><a href="/tracker/">Fitness Tracker</a></li>
        </ul>
      </nav>
    </header>
    <hr>

    <main>
    $body$
    </main>

    <footer>
      <p>Source code &amp; additional licensing information available on <a href="https://github.com/berkson/berkson.github.io">Github</a>.</p>
      <br><p>&copy; Eiren &amp; Berkson 2016</p><br>
      <div class="row">
        <div class="one-half column" align="left">
          <p>
            <a href="https://feed.press/e/mailverify?feed_id=prickyourfinger" target="_blank">Subscribe</a> &middot;
            <a href="http://feed.prickyourfinger.org/" target="_blank">Feed</a> &middot;
            <a href="mailto:eiren.berkson@gmail.com" rel="me">Email</a> &middot;
            <a href="http://www.twitter.com/prickyourfinger">Twitter</a>
          </p>
        </div>
        <div class="one-half column" align="right">
          <p>
            <a href="http://adultbloghub.com/sex-press/" target="_blank">Sex-Press Sex Blogs</a> &middot;
            <a href="http://adultbloghub.com/" target="_blank">Adult Blog Hub</a>
          </p>
        </div>
      </div>
    </footer>

  </div>
  </body>

</html>
