<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <meta charset="utf-8">
    <meta name="author" content="Eiren &amp; Berkson">
    <meta name="description" content="Personal blog of Eiren &amp; Berkson">
    <meta name="viewport" content="width=device-width">

    <title>$title$ &dash; Prick Your Finger</title>

    <link rel="me" href="https://github.com/berkson" />
    <link rel="me" href="https://twitter.com/prickyourfinger" />
    <link rel="me" href="mailto:eiren.berkson@gmail.com" />

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/syntax.css">

    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <header>
      <h1><a href="/">Prick Your Finger</a></h1>
      <nav>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/mantra/">Mantra</a></li>
          <li><a href="/rules/">Rules</a></li>
          <li><a href="/archive/">Archive</a></li>
        </ul>
      </nav>
    </header>

    $body$

    <footer>
      <p>Source code &amp; additional licensing information available on <a href="https://github.com/berkson/berkson.github.io">Github</a>.</p>
      <br><p>&copy; Eiren &amp; Berkson 2015</p><br>
      <p>
        <a href="mailto:eiren.berkson@gmail.com" rel="me">Email</a> &middot;
        <a href="/atom.xml">Atom</a> &middot;
        <a href="http://www.twitter.com/prickyourfinger">Twitter</a>
      </p>
    </footer>

    <script type="text/javascript">
      var _sf_async_config = { uid: 61208, domain: 'prickyourfinger.org', useCanonical: true };
        (function() {
          function loadChartbeat() {
            window._sf_endpt = (new Date()).getTime();
            var e = document.createElement('script');
            e.setAttribute('language', 'javascript');
            e.setAttribute('type', 'text/javascript');
            e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
            document.body.appendChild(e);
        };
        var oldonload = window.onload;
        window.onload = (typeof window.onload != 'function') ?
        loadChartbeat : function() { oldonload(); loadChartbeat(); };
      })();
    </script>

  </body>

</html>
