<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Eiren &amp; Berkson">
    <meta name="description" content="Personal blog of Eiren &amp; Berkson">
    <meta name="viewport" content="width=device-width">

    <title>$title$ &dash; Prick Your Finger</title>

    <link rel="me" href="https://github.com/berkson" />
    <link rel="me" href="https://twitter.com/prickyourfinger" />
    <link rel="me" href="mailto:eiren.berkson@gmail.com" />

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/syntax.css">

    <link rel='stylesheet' href="http://fonts.googleapis.com/css?family=Open+Sans">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TKJ9SW" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-TKJ9SW');
    </script>

    <script src="//load.sumome.com/" data-sumo-site-id="d6b1f77a784e1aab5d48ebbdd89c73aadafc55b5dcf7d46270482c8b5188c082" async="async"></script>
  </head>

  <body>
    <header>
      <h1><a href="/">Prick Your Finger</a></h1>
      <nav>
        <ul>
          <li><a href="/about/">About</a></li>
          <li><a href="/mantra/">Mantra</a></li>
          <li><a href="/rules/">Rules</a></li>
          <li><a href="/archive/">Archive</a></li>
        </ul>
      </nav>
    </header>

    $body$

    <footer>
      <p>Source code &amp; additional licensing information available on <a href="https://github.com/berkson/berkson.github.io">Github</a>.</p>
      <br><p>&copy; Eiren &amp; Berkson 2015</p><br>
      <p>
        <a href="mailto:eiren.berkson@gmail.com" rel="me">Email</a> &middot;
        <a href="/atom.xml">Atom</a> &middot;
        <a href="http://www.twitter.com/prickyourfinger">Twitter</a>
      </p>
    </footer>

  </body>

</html>
