<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link href="/feed.xml" rel="alternate" type="application/atom+xml">
    <link href="http://prickyourfinger.org{{url}}" rel="canonical">
    <meta charset="utf-8"> <!-- TODO: or do not set it and escape everything? -->
    <meta name="author" content="Prick Your Finger">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site:id" content="@PrickYourFinger">
    <meta name="twitter:title" content="{{title}}">
    {{if synopsis}}
    <meta name="description" content="{{synopsis}}">
    <meta name="twitter:description" content="{{synopsis}}">
    {{end}}
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- TODO: is this still required in 2015? -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })
      (window, document, 'script', 'dataLayer', 'GTM-TKJ9SW');
    </script>
    <style>
      {{include fonts.css}}
      {{include page.css}}
      {{if math}} {{include math.css}} {{end}}
    </style>
  </head>
