<main>
  <article>
    <header><h2>$title$</h2></header>
    <footer>
      <p><strong>Posted on</strong> <time>$date$</time> &mdash; <strong>Tagged with</strong>: $prettytags$</p>
    </footer>

$body$

  </article>
  <footer>
    <script>
      var idcomments_acct = '479ee2bf79bbd33f7e4eaef20ca63551';
      var idcomments_post_id;
      var idcomments_post_url;
    </script>
    <span id="IDCommentsPostTitle" style="display:none"></span>
    <script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
  </footer>
</main>
