body {
  font: normal 120%/1.4 "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 60%;
  max-width: 960px;
  margin: 0 auto;
  background-image: url("/img/confectionary.png");
  color: #4A4A4A;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Page Elements */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

a {
  color: #CB004A;
  text-decoration: none;
}

a {
  transition: color .1s ease-out;
}

a:hover, a:visited {
  color: #76002B;
}

blockquote {
  border-left: 3px solid #CB004A;
  margin: 5px;
  padding: 1em;
}

hr {
  padding: 0;
  border: none;
  border-top: medium double #7E002F;
  color: #7E002F;
  text-align: center;
}

hr:after {
  content: '\002665';
  display: inline-block;
  position: relative;
  top: -15px;
  padding: 0 10px;
  background: #f0f0f0;
  color: #CB004A;
  font-size: 18px;

}

pre {
  font-size: 0.90em;
  font-family: Menlo, monospace;
  overflow: auto;
}

table {
  margin: 0 auto;
}

th, td {
  border: 1px solid #4A4A4A;
  padding: 5px;
}

img, embed, object, video, .embed {
  display: block;
  max-width: 90%;
  margin: 0 auto;
}

figcaption, p.caption {
  font-size: 0.90em;
  text-align: center;
}

/* Layout */
header h1 {
  text-align: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin: 0 0.5em;
}

body > footer {
  margin: 2em 0 2em 0;
  font-size: 0.9em;
}

footer p {
  margin: 0;
}

.taglist {
  text-align: center;
}

.metadata {
  float: right;
}

.articles {
  list-style: circle;
}

code {
  font-size: 0.75em;
  margin: 0 auto;
  padding: 2px 4px 2px 4px;
  color: #0262A7;
  border: 1px solid #0262A7;
  border-radius: 2px;
  vertical-align: middle;
}

code.sha {
  color: #29B544;
  border-color: #29B544;
}

code.history {
  color: #CB004A;
  border-color: #CB004A;
}

code.tags a:link {
  color: #CB004A;
  text-decoration: none;
}

code a:link, code a:visited {
  color: inherit;
}

code.tags a:visited, code.tags a:hover {
  color: #76002B;
}

@media screen and (max-width: 775px) {
  body {
    width: 95%;
  }
  .metadata {
    display:none;
  }
}
