<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Eiren &amp; Berkson">
    <meta name="description" content="Personal blog of Eiren &amp; Berkson">
    <meta name="viewport" content="width=device-width">

    <title>$title$ &dash; Prick Your Finger</title>

    <link rel="me" href="https://github.com/berkson" />
    <link rel="me" href="https://twitter.com/prickyourfinger" />
    <link rel="me" href="mailto:us@prickyourfinger.org" />

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/syntax.css">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <header>
      <h1><a href="/">Prick Your Finger</a></h1>
      <nav>
        <ul>
          <li><a href="/about.html">About</a></li>
          <li><a href="/KISS.html">KISS</a></li>
          <li><a href="/archive.html">Archive</a></li>
        </ul>
      </nav>
    </header>

    $body$

    <footer>
      <p>Source code &amp; additional licensing information available on <a href="https://github.com/berkson/berkson.github.io">Github</a>.</p>
      <br><p>&copy; Eiren &amp; Berkson 2015</p>
      <br><p><a href="mailto:us@prickyourfinger.org" rel="me">Email</a> &middot; <a href="/atom.xml">Atom</a> &middot; <a href="http://www.twitter.com/prickyourfinger">Twitter</a></p>
    </footer>

  </body>
</html>
